<td>{{ stock.symbol }}</td>

<td>{{ stock.current | currency }}</td>

<td><span class="{{stock.one >= 0 ? 'positive' : 'negative'}}">
<span ng-if="stock.one >= 0">+</span>{{ stock.one | currency }}</span>
</td>

<td><span class="{{stock.seven >= 0 ? 'positive' : 'negative'}}">
<span ng-if="stock.seven >= 0">+</span>{{ stock.seven | currency }}</span>
</td>

<td><span class="{{stock.thirty >= 0 ? 'positive' : 'negative'}}">
<span ng-if="stock.thirty >= 0">+</span>{{ stock.thirty | currency }}</span>
</td>

<td><a ui-sref="dashboard.trade( { stock: stock.symbol } )">Trade</a></td>