<h1>Portfolio</h1>

<table class="table table-striped">
  <tr>
    <th>Cost Basis</th>
    <th>Current Value</th>
    <th>Profit/Loss</th>
    <th>1d</th>
    <th>7d</th>
    <th>30d</th>
  </tr>

  <h4>Summary</h4>
  <tr>
    <td>{{ summary.costBasis | currency }}</td>
    <td>{{ summary.value | currency }}</td>
    <td><span class="{{summary.profit >= 0 ? 'positive' : 'negative'}}">
<span ng-if="summary.profit >= 0">+</span>{{ summary.profit | currency }}</td>
    <td>{{ summary.one | currency }}</td>
    <td>{{ summary.seven | currency }}</td>
    <td>{{ summary.thirty | currency }}</td>
  </tr>
</table>

<h4>Assets</h4>
<p>
  <form class="form-inline">
    <div class="form-group">
      <label for="stockFilter">Filter</label>
      <input type="text" class="form-control" id="stockFilter" placeholder="Stock name, e.g. AAPL" ng-model="stockFilter">
    </div>
  </form>
</p>

<table class="table table-striped">
  <tr>
    <th ng-click="toggleFilter('stock')">Symbol</th>
    <th ng-click="toggleFilter('quantity')">Quantity</th>
    <th ng-click="toggleFilter('costBasis')">Cost Basis</th>
    <th ng-click="toggleFilter('value')">Current Value</th>
    <th ng-click="toggleFilter('profit')">Profit/Loss</th>
    <th ng-click="toggleFilter('currentPrice')">Current Price</th>
    <th ng-click="toggleFilter('one')">1d</th>
    <th ng-click="toggleFilter('seven')">7d</th>
    <th ng-click="toggleFilter('thirty')">30d</th>
    <th>Trade</th>
  </tr>

  <!-- cash money -->
  <tr>
    <td class="green">Cash</td>
    <td></td>
    <td class="green">{{ userData.balance[ date.start ] | currency }}</td>
    <td class="green">{{ userData.balance[ quotes[date.index].date ] | currency }}</td>
    <td><span class="{{userData.balance[ quotes[date.index].date ] - userData.balance[ date.start ] >= 0 ? 'positive' : 'negative'}}">
<span ng-if="userData.balance[ quotes[date.index].date ] - userData.balance[ date.start ] >= 0">+</span>{{ userData.balance[ quotes[date.index].date ] - userData.balance[ date.start ] | currency }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <!-- stocks -->
  <tr ng-repeat="position in positions | filter: stockFilter | orderBy: transFilter.type : transFilter.rev" position="position" position-listing></tr>
</table>
