<h1>Stocks</h1>

<p>
  <form class="form-inline">
    <div class="form-group">
      <label for="stockFilter">Filter</label>
      <input type="text" class="form-control" id="stockFilter" placeholder="Stock name, e.g. AAPL" ng-model="stockFilter">
    </div>
  </form>
</p>

<table class="table table-striped">
  <tr>
    <th>Symbol</th>
    <th>Price</th>
    <th>1d</th>
    <th>7d</th>
    <th>30d</th>
    <th>Trade?</th>
  </tr>

  <tr ng-repeat="stock in listings | filter: { symbol: stockFilter }" stock="stock" date-index="date.index" stock-listing></tr>
</table>